#banner{
    margin-top: 50px;
    position: relative;

}

@media(min-width:481px){
    #banner h2{
        font-size: 40px;
    }
    #banner a{
        margin-top: 25px;
        
    }
}
@media(min-width:768px){
    #banner{
        height: 300px;
        overflow: hidden;
    }
    #banner img{
        height: auto;
        margin-top: -100px;
    }
}
@media(min-width:1024px){
   
    #banner img{
        height: auto;
        margin-top: -200px;
    }
}

