*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  background: #E6DADA;  
background: -webkit-linear-gradient(to right, #274046, #E6DADA);  
background: linear-gradient(to right, #274046, #E6DADA);
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h2 {
  margin: 0 0 10px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 5px;
  border-bottom: 1px solid;
}
select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  background: #556270; 
  background: -webkit-linear-gradient(to right, #FF6B6B, #556270);  
  background: linear-gradient(to right, #FF6B6B, #556270); 
    display: block;
    width: 150px;
    height: 40px;
    border:none;
    color:#fff; 
    border-radius: 20px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;

}

label {
  display: block;
  margin-bottom: 8px;
}


@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}